<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://s3.amazonaws.com/DSUEL/v0.6.15/styles/duel.css" rel="stylesheet" />
    <script src="https://s3.amazonaws.com/DSUEL/v0.6.15/scripts/duel.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	@Scripts.Render("~/bundles/scripts")
	@Scripts.Render("~/bundles/jquery")
    
    
    
    <title>Fantasy Football Playoff Machine</title>
   
    
    
	<script language="javascript">
	    //Global bag where MVC views can store pre-loaded data for the client
	    //Clients can then access this data using PreloadService.js
	    window.__preloadedData = {};
	</script>
     @Styles.Render("~/Content/css")
</head>
<body ng-app="fantasyPlayoffMachine" ng-cloak>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				@Html.ActionLink("Fantasy Football Playoff Machine", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="../Home/About">About</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="container" style="width:95%">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Fantasy Football Playoff Machine</p>
		</footer>
	</div>


</body>
</html>
